<html>
	<head>
		<link rel="stylesheet" href="/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		{{{ include header }}}
		<div class="container">
			{{#article}}
			<div class="section">
				<header>
					<h4>{{title}}</h4>
					<span>{{date}}</span>
					<span>{{author}}</span>
				</header>
				{{body}}
				{{{divider}}}
			</div>
			{{/article}}
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
